body {
	width: 90%;
	font-family: 'Helvetica';
}



/*  480 */
@media only screen and (max-device-width: 480px) {
    #menu li {
    	display: block;
    }
}


html {

	scroll-behavior: smooth;
}

#header
{
	float: left;
	margin-bottom: 20px;

  height: 56px;
  width: 200px;

}

#header a
{
	font-size: 3em;
	color: black;
	text-decoration: none;
}

#header a:hover
{

  text-decoration: underline;
}


#menu
{

	width: 70%;
	min-width: 480px;
}

#content
{
   clear: both;
   width: 50%;
   position: relative;
   min-width: 480px;
	 width: 100%;

   margin-bottom: 20px;
   padding: 10px;

}

.cat_p
{
  border-left: 5px solid #0048BF;
  padding-left: 5px;
}

#menu a, a:hover {
  color: #000;
  text-decoration: none;
  font-weight: bold;
	font-size: 3em;

}

#menu li {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
  margin-left: 20px;
}

#menu li:last-child {
  margin-right: 0;
}

#menu li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#menu li:hover:after {
  width: 100%;
  background: #303030;
}


#footer
{

	padding-top: 1px;

	width: 51.4  %;
	min-width: 480px;
	padding-top: 0px;
	font-weight: bold;
}
